<% provide(:title, "About Us") %>
 <h1 class="w3-center">ABOUT US</h1>
 
 <div class="w3-row w3-padding-32 w3-section">
    <div class="w3-col m4 w3-container">
      
      <%= image_tag("aboutus.jpg", alt: "About Us", :class => "smallerImgs") %> 
    </div>
    <div class="w3-col m8 w3-panel">
       <p>Welcome to Artfox Online Art Gallery, where you can browse our wide variety of artworks on sale from an array
 of talented artists. We have many years experience in connecting artists with potential buyers of their quality works.</p>
    </div>
  </div>
 

