<% provide(:title, "Your Customer Account") %>

<h1>These are you details:</h1>
<p>Your Email:  <%= current_customer.email %></p>

<p>Your Name:  <%= current_customer.c_name %></p>


<p>Your Phone:  <%= current_customer.c_phonenumber %></p>

<p>Your PayPal Email:  <%= current_customer.c_paypal %></p>