<% provide(:title, "Homepage") %>

<div class="w3-row">
    
    <h2 class="w3-left">
            WELCOME TO ARTFOX!
        </h2>
    
    <p class="w3-left">Thank you for visiting our online art gallery website. We hope you enjoy your stay, and find some art that interests you.
        You can either sign up for Artist Seller or Customer Buyer accounts using the links on this page below, or from the menu links above.
        In this online store you can find an array of interesting artworks such as sculptures, paintings, printmaking and ceramics.</p>
    
    
   
    
</div>
<br/><br/><br/>

<% if artist_signed_in? || customer_signed_in? %>

<% else %>
<div class="w3-row w3-center w3-padding-16">
        <span class="homeboxes">
        <div class="w3-quarter w3-section w3-orange w3-padding-16">
            <span class="w3-xlarge">Artist?</span> <br/><a href="/artists/sign_up">Sign up here</a>
        </div>
        <div class="w3-quarter w3-section w3-green w3-padding-16">
            <span class="w3-xlarge">Buyer?</span> <br/><a href="/customers/sign_up">Sign up here</a>
        </div>
        <div class="w3-quarter w3-section w3-red w3-padding-16">
            <span class="w3-xlarge">Artist?</span> <br/><a href="/artists/sign_in">Login here</a>
        </div>
       <div class="w3-quarter w3-section w3-blue w3-padding-16">
            <span class="w3-xlarge">Buyer?</span> <br/><a href="/customers/sign_in">Login here</a>
        </div>

        </span>
    </div>
<% end %>


