<% provide(:title, "Homepage") %>

<div class="w3-row">
    
    <h2 class="w3-left">
            WELCOME TO ARTFOX!
        </h2>
    
    <p class="w3-left">Thank you for visiting our online art gallery website. We hope you enjoy your stay, and find some art that interests you.
        You can either sign up for Artist Seller or Customer Buyer accounts using the links on this page below, or from the menu links above.
        In this online store you can find an array of interesting artworks such as sculptures, paintings, printmaking and ceramics.</p>
    
    
   
    
</div>


<% if artist_signed_in? || customer_signed_in? %>

<% else %>

<hr class="home" id="homepanel">

<div class="homeboxes1 w3-col m6 w3-center w3-padding-large">
    <h2>Artist?</h3>
    <br><br>
    <a href="/artists/sign_up" class="w3-bar-item w3-button w3-yellow w3-hover-black">Sign up here</a><br><br>
    <a href="/artists/sign_in" class="w3-bar-item w3-button w3-yellow w3-hover-black">Login here</a>
</div>
<div class="homeboxes2 w3-col m6 w3-center w3-padding-large">
    <h2>Customer?</h3>
    <br><br>
    <a href="/customers/sign_up" class="w3-bar-item w3-button w3-yellow w3-hover-black">Sign up here</a><br><br>
    <a href="/customers/sign_in" class="w3-bar-item w3-button w3-yellow w3-hover-black">Login here</a>
</div>


<% end %>


