<div class="w3-content w3-container w3-padding-64">
    <h1 class="w3-center">THANK YOU VERY MUCH!</h1>
    
    <center>We will dispatch your order ASAP!</center><br/><br/>
    
    <center><a href="/" class="w3-button w3-large w3-black w3-hover-deep-orange">Back to Homepage</a></center>
    
</div>