<h1 class="w3-center">Create a new Artwork</h1>

<%= render 'form', artwork: @artwork, :class => "w3-button w3-large w3-black w3-hover-yellow" %>

<%= link_to 'Back', artworks_path, :class => "w3-button w3-large w3-black w3-hover-yellow" %>
