/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.itemholsIm {
   /* width: 60%; */
   width: 120px;
    margin-left: auto; 
    margin-right: auto; 
    display: block;
    
}

.artworkBigger {
   width: 60%;
    margin-left: auto; 
    margin-right: auto; 
    display: block;
    
}

#customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: gold;
    color: white;
}

#itemsContainer h1 {
   display: block;
    color: #4CAF50;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
    
}

/*CSS from homepage file */
body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif;}
body, html {
  height: 100%;
  color: #777;
  line-height: 1.8;
}

/* Create a Parallax Effect */
.bgimg-1, .bgimg-2, .bgimg-3 {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* First image (Logo. Full height) */
.bgimg-1 {
  background-image: url('header.jpg');
  min-height: 100%;
}

/* Second image (Portfolio) */
.bgimg-2 {
  background-image: url("/w3images/parallax2.jpg");
  min-height: 400px;
}

/* Third image (Contact) */
.bgimg-3 {
  background-image: url("/w3images/parallax3.jpg");
  min-height: 400px;
}

.w3-wide {letter-spacing: 10px;}
.w3-hover-opacity {cursor: pointer;}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1600px) {
  .bgimg-1, .bgimg-2, .bgimg-3 {
    background-attachment: scroll;
    min-height: 400px;
  }
}

/* change nav bar color */
#topNavbar {
	/*background-color: rgba(255, 255, 255, 0.7);*/
background-color: gold;
}

/* second nav bar */
#secondNavbar {
	background-color: black;
}

.secondNavbar{
    background-color:green;
    color: yellow;
}


.myCols {
    background-color: whitesmoke;
    padding: 10px;
    border-bottom: 2px gold solid;
    margin-bottom: 10px;
}

.myCols h2 {
    
    padding-left: 10px;
}

.myCols img {
    border: 1px solid lightgrey;
}

.bottomButtons {
   text-align: center;
   margin-top: 10px;
   padding-bottom: 10px;
}

.alert {
    text-align: center;
    font-size: large;
    padding: 20px;
    background-color: red;
    color: white;
}
.notice {
    text-align: center;
    font-size: large;
    padding: 20px;
    background-color: green;
    color: white;
}

.statusRed {
    background-color: red;
    color: white;
    padding: 5px;
    font-weight: bold;
}
.statusGreen {
    background-color: green;
    color: white;
    padding: 5px;
    font-weight: bold;
}

#userPanel {
    background-color: #fdffb8;
    padding: 20px;
    margin-bottom: 50px;
    border: 1px solid gold;
}

.smallerImgs {
    width: 100%;
    
}

.homeboxes a {
    color: white;
}